/** @color White **/
$colors-white: #fff;

/** @color Blue **/
$colors-blue: #1D252E;

/** @color Dark blue **/
$colors-blue-dark: #131921;

/** @color Light blue **/
$colors-blue-light: #232B34;

/** @color Grey **/
$colors-grey: #a0a5ac;

/** @color Light grey **/
$colors-grey-light: #ECEDEE;

/** @color Active (links etc) **/
$colors-active: #4A90E2;

/** @color Success **/
$colors-success: #18A689;

$colors-green: #4CA770;

/** @color Error **/
$colors-error: #BA3F27;

/** @color Black text **/
$colors-text-black: #000;

/** @color Dark text **/
$colors-text-dark: #333;

body {
  background-color: #f2f2f2;
}
